@model Agenda.Presentation.Models.AccountLoginModel

@{
    Layout = "~/Views/Shared/AccountLayout.cshtml";
}

<div class="text-center">
    <h2>Agenda de Contatos</h2>
    <h3>Acesso ao Sistema</h3>
    </hr>
</div>

@using(Html.BeginForm())
{
    <div class="mb-2">
        <label>Email de Acesso</label>
        @Html.TextBoxFor(model => model.Email, new { @class="form-control"})
        <div class="text-danger">
            @Html.ValidationMessageFor(model => model.Email)
        </div>
    </div>

    <div class="mb-2">
        <label>Senha de Acesso: </label>
        @Html.PasswordFor(model => model.Senha, new { @class="form-control"})
        <div class="text-danger">
            @Html.ValidationMessageFor(model => model.Senha)
        </div>
         <div class="text-end">
            <a href="/Account/Password">Esqueci Minha Senha?</a>
        </div>
    </div>

    <div class="mb-2">
        <div class="d-grid">
            <input type="submit" class="btn btn-success" value="Acessar Agenda" />
        </div>

    </div>

    <div class="mb-2">
        <div class="d-grid">
            <a href="/Account/Register" class="btn btn-primary">Não possui conta? Cadastre-se aqui!</a>
        </div>
    </div>

    <div class="mb-2">
        <div class="texte-center text-danger">
            <strong>
                @TempData["Mensagem"]
            </strong>
        </div>
    </div>
}